@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";


/* styles/globals.css */

:root {
  --primary: #000000;
  --buttonPrimary:#1057B5;
  --border:#D5D5D5;
  --textPrimary:#FFFFFF;
  --textSecondary:#989898;
  --dropDownHover:#8A8A8A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1440px;
  margin: auto;
  background: black;
}
